<%= simple_form_for @user do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <div>
    <% if @user.persisted? %>
      You must enter the password for changes to take effect
      <%= f.input :current_password %>
    <% end %>
  </div>
  <% if @user.persisted? %>
    Leave empty to keep the password the same
  <% end %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <% if @user.persisted? %>
    <%= f.submit "Edit My Account" %>
  <% else %>
    <%= f.submit "Create My Account" %>
  <% end %>  
<% end %>
